.timeline {
  @include basic-list;
  margin: 0;
  padding: 0;

  .system-note {
    .note-text {
      color: $gl-text-color !important;
    }
  }

  .diff-file {
    border: 1px solid $border-color;
    border-bottom: none;
    margin: 0;
  }
}

.timeline-entry {
  border-color: $white-normal;
  color: $gl-text-color;
  border-bottom: 1px solid $border-white-light;

  .timeline-entry-inner {
    position: relative;
  }

  &:target,
  &.target {
    background: $line-target-blue;
  }

  .avatar {
    margin-right: 15px;
  }

  .controls {
    padding-top: 10px;
    float: right;
  }
}

@media (max-width: $screen-xs-max) {
  .timeline {
    &::before {
      background: none;
    }
  }

  .timeline-entry .timeline-entry-inner {
    .timeline-icon {
      display: none;
    }

    .timeline-content {
      margin-left: 0;
    }
  }
}

.discussion .timeline-entry {
  margin: 0;
  border-right: none;
}
